<ion-view hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-light">
    <div class="h1 title">705美甲</div>
    <div class="buttons">
      <button class="button no-animation button-icon icon ion-ios-search">
          </button>
      <link class="button no-animation button-icon icon ion-android-add" ng-click="add()" />
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in users" type="item-text-wrap" href="#/tab/users/{{user.id}}">
        <img ng-src="img/{{user.id%94}}.jpg">
        <h2>{{user.name}}</h2>
        <p>余额：{{user.balance}} 元}&nbsp&nbsp&nbsp&nbsp电话：{{user.mobile}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-balanced" ng-click="addmoney(user,1)">
         充值
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="addmoney(user,0)">
          消费
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>